.about {
  margin-top: 20px;
  padding: 0;
  min-height: 947px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../img/about/about-mobile.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

    @media (resolution >= 2dppx) {
      background-image: url("../../img/about/about-mobile@2x.jpg");
    }
  }

  @media (min-width: $tablet-width) {
    &::before {
      content: none;
    }

    margin: 0;
    padding: 60px 48px 62px 40px;
    display: grid;
    background-image: url("../../img/about/about-tablet.jpg");
    background-size: 542px 350px;
    background-position: left 175px;
    background-repeat: no-repeat;

    @media (resolution >= 2dppx) {
      background-image: url("../../img/about/about-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    padding: 100px 120px 120px 0;
    background-image: url("../../img/about/about-desktop.jpg");
    background-size: 660px 498px;
    background-position: left 100px;
    grid-template-columns: repeat(2, 660px);
    justify-content: center;

    @media (resolution >= 2dppx) {
      background-image: url("../../img/about/about-desktop@2x.jpg");
    }
  }

  @media (min-width: ($desktop-width + 1px)) {
    background-size: 50% 100%;
  }
}

.about__container {
  padding-top: 436px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 45px 0 0;
    grid-column: 2;
  }
}

.about__content {
  @media (min-width: $tablet-width) {
    margin: 0 0 0 409px;
    max-width: 270px;
    grid-column: 2;
  }

  @media (min-width: $desktop-width) {
    max-width: 660px;
    margin: 0;
  }

  h2 {
    margin: 0 0 42px;
    position: relative;
    font-weight: 800;
    font-size: 22px;
    line-height: 100%;
    color: $primary;

    @media (min-width: $tablet-width) {
      margin: 0 0 48px;
      font-size: 25px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 0 59px;
      font-size: 35px;
    }
  }

  h2::after {
    content: attr(data-text); /* Use the data-text attribute to get the heading text */
    position: absolute;
    left: 0;
    top: -13px;
    color: rgba(0, 0, 0, 0.03); /* Set the desired color and opacity for the shadow */
    z-index: -1; /* Ensure the shadow is behind the main heading */
    font-size: 26px;
  }

  h3 {
    margin: 0 0 13px;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: $primary;

    @media (min-width: $tablet-width) {
      margin: 0 0 11px;
      font-size: 18px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 0 16px;
      font-size: 21px;
    }
  }

  p {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    color: $primary;

    &:not(:last-child) {
      margin: 0 0 27px;

      @media (min-width: $tablet-width) {
        margin: 0 0 29px;
      }
    }

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 24px;
    }

    @media (min-width: $desktop-width) {
      max-width: 585px;
      font-size: 14px;
      line-height: 22px;
    }
  }
}
