.advantages {
  padding: 37px 15px 56px;
  position: relative;
  z-index: 2;

  @media (min-width: $tablet-width) {
    padding: 60px 45px 39px;
    background-image: url("../../img/clouds/clouds-3-tablet.png");
    background-repeat: no-repeat;
    background-position: center 165px;
  }

  @media (min-width: $desktop-width) {
    padding: 135px 0 308px;
  }
}

.advantages__container {
  @media (min-width: $desktop-width) {
    max-width: none;
  }
}

.advantages__title {
  margin: 0 0 36px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 0 60px;


    &::after {
      padding: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 50px;
  }
}

.advantages__title__shadow {
  @media (min-width: $desktop-width) {
    left: 50%;
    transform: translateX(-50%);
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 0 30px;
    max-width: 2020px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 0;
  }
}
