.card-hero {
  padding: 40px 15px 56px;
  min-height: 472px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: 100% 100%;

  h2 {
    margin: 0 0 15px;
    font-weight: 800;
    font-size: 26px;
    line-height: 26px;
    text-align: center;
    color: $white;
  }

  p {
    margin: 0 0 60px;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: $white;
  }

  &--caucasus {
    background-image: url("../../img/hero/slide-1-mobile.jpg");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/hero/slide-1-mobile@2x.jpg");
    }
  }

  &--kamchatka {
    background-image: url("../../img/hero/slide-2-mobile.jpg");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/hero/slide-2-mobile@2x.jpg");
    }
  }

  &--altai {
    background-image: url("../../img/hero/slide-3-mobile.jpg");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/hero/slide-3-mobile@2x.jpg");
    }
  }
}

.card-hero__link {
  padding: 20px;
  min-width: 180px;
  display: inline-block;
  text-decoration: none;
  background-color: $additional;
  font-family: $font-family;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: $white;
}

.card-hero__details {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
