.contacts {
  padding: 37px 15px 30px;

  @media (min-width: $tablet-width) {
    padding: 60px 45px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 0 120px;
    max-width: 600px;
  }
}

.contacts__title {
  margin: 0 0 28px;

  @media (min-width: $tablet-width) {
    margin: 0 0 21px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 23px;
  }
}

.contacts__container {
  p {
    margin: 0 0 30px;
    font-size: 14px;
    line-height: 20px;
    color: $primary;

    @media (min-width: $tablet-width) {
      margin: 0 0 40px;
      max-width: 480px;
      font-size: 16px;
      line-height: 24px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 0 50px;
      max-width: 500px;
    }
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 153px 159px 288px;
    gap: 40px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }
}

.contacts__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 32px;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: $primary;
  background-repeat: no-repeat;
  background-size: 22px 22px;

  @media (min-width: $tablet-width) {
    padding-left: 34px;
    font-size: 16px;
    gap: 5px;
    background-size: 24px 24px;
    background-position: 0 -1px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 56px;
    font-size: 18px;
    gap: 7px;
    background-position: left;
    background-size: 26px 26px;
  }

  &--phone {
    background-image: url("/__spritemap#sprite-phone-view");
  }

  &--email {
    background-image: url("/__spritemap#sprite-mail-view");
  }

  &--address {
    background-image: url("/__spritemap#sprite-pin-view");
  }
}

.contacts__link {
  text-decoration: none;
  display: inline-block;
  align-self: flex-start;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $primary;

  @media (min-width: $tablet-width) {
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }

  &:active {
    opacity: 0.6;
  }
}

.contacts__address {
  max-width: 160px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $primary;

  @media (min-width: $tablet-width) {
    max-width: none;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    max-width: none;
    font-size: 16px;
    line-height: 24px;
  }
}
