.field {
  padding: 15.25px 15px;
  width: 100%;
  border: none;
  border-radius: 2px;
  font-family: $font-family;
  font-size: 16px;
  line-height: 16px;
  color: $primary;

  &::placeholder {
    font-family: $font-family;
    font-size: 16px;
    line-height: 16px;
    color: $primary;
    opacity: 0.5;
  }
}
