.footer__bottom {
  padding: 23px 15px 20px;

  @media (min-width: $tablet-width) {
    padding: 34px 45px 20px;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.footer__nav-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px 50px;
  justify-items: center;

  @media (min-width: $tablet-width) {
    min-width: 494px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
}

.footer__nav-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: $primary;
}

.footer__phone-link {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline-block;
  }
}

.footer__privacy-policy {
  text-decoration: none;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: $primary;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 3;
    max-width: 200px;
    justify-self: center;
  }
}
