.footer {
  margin-top: auto;

  @media (min-width: $desktop-width) {
    padding: 100px 120px 0;
    display: grid;
    grid-template-columns: repeat(2, 600px);
    justify-content: center;
  }
}

.footer__bottom {
  margin-top: 15px;
  padding: 26px 15px 20px;
  border-top: 1px solid rgba(45, 56, 63, 0.2);

  @media (min-width: $tablet-width) {
    margin-top: 35px;
    padding: 34px 45px 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 95px;
    grid-column: 1 / -1;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 17px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 34px 17px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.footer__nav-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 50px;
  justify-items: center;

  @media (min-width: $tablet-width) {
    min-width: 494px;
    display: flex;
    gap: 13.5px;
    flex-wrap: wrap;
    align-items: center;
    transform: translateX(-4px);
  }
}

.footer__nav-item {
  &:nth-child(2) {
    order: 3;
  }

  &:nth-child(3) {
    order: 5;
  }

  &:nth-child(4) {
    order: 2;
  }

  &:nth-child(5) {
    order: 4;
  }

  &:nth-child(6) {
    order: 6;
  }

  @media (min-width: $tablet-width) {
    &:last-of-type {
      transform: translateX(4px);
    }

    &:nth-child(n) {
      order: initial;
    }
  }
}

.footer__nav-link {
  padding: 3px 5px;
  text-decoration: none;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  color: $primary;

  @media (min-width: $desktop-width) {
    font-size: 16px;
  }

  @media (hover: hover) {
    &:hover {
      box-shadow: 0 1px 0 0 $primary;
    }
  }

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 1px $primary;
  }

  &:active {
    color: $additional;
    box-shadow: none;
  }
}

.footer__phone-link {
  display: none;
  max-width: 200px;

  @media (min-width: $desktop-width) {
    display: inline-block;
    text-decoration: none;
    font-family: $font-family;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    text-align: right;
    color: $primary;
    justify-self: end;
  }

  @media (hover: hover) {
    &:hover {
      color: rgba(2, 102, 193, 0.1);
    }
  }

  &:focus-visible {
    outline: none;
    color: $additional;
  }

  &:active {
    color: $active;
  }
}

.footer__privacy-policy {
  margin-top: 6px;
  text-decoration: none;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: $primary;

  @media (min-width: $tablet-width) {
    margin: 0;
    grid-column: 1 / -1;
    grid-row: 3;
    max-width: 200px;
    justify-self: center;
  }

  @media (min-width: $desktop-width) {
    max-width: 210px;
  }

  @media (hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__map-image {
  width: 100%;
  object-fit: fill;

  @media (min-width: $desktop-width) {
    margin-top: 50px;
  }
}

.footer__logo {
  align-self: center;

  @media (min-width: $tablet-width) {
    align-self: normal;
  }
}

.footer__social {
  margin-top: 4px;
  align-self: center;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
