.footer {
  @media (min-width: $desktop-width) {
    padding: 100px 120px 0;
    display: grid;
    grid-template-columns: repeat(2, 600px);
    justify-content: center;
  }
}

.footer__bottom {
  padding: 23px 15px 20px;
  border-top: 1px solid rgba(45, 56, 63, 0.2);

  @media (min-width: $tablet-width) {
    padding: 34px 45px 20px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.footer__nav-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px 50px;
  justify-items: center;

  @media (min-width: $tablet-width) {
    min-width: 494px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
}

.footer__nav-link {
  padding: 3px 5px;
  text-decoration: none;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: $primary;
}

.footer__phone-link {
  display: none;
  max-width: 200px;

  @media (min-width: $desktop-width) {
    display: inline-block;
    text-decoration: none;
    font-family: $font-family;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    text-align: right;
    color: $primary;
    justify-self: end;
  }

  @media (hover: hover) {
    &:hover {
      color: rgba(2, 102, 193, 0.1);
    }
  }

  &:focus {
    outline: none;
    color: $additional;
  }

  &:active {
    color: $active;
  }
}

.footer__privacy-policy {
  text-decoration: none;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: $primary;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 3;
    max-width: 200px;
    justify-self: center;
  }

  @media (min-width: $desktop-width) {
    max-width: 210px;
  }

  @media (hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__map-image {
  width: 100%;
  object-fit: fill;

  @media (min-width: $desktop-width) {
    margin-top: 50px;
  }
}
