.form {
  padding: 177px 31px 174px;
  background-image: url("../../img/contact/contact-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  @media (resolution >= 2dppx) {
    background-image: url("../../img/contact/contact-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    padding: 187.5px 204px 184px;
    background-image: url("../../img/contact/contact-tablet.jpg");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/contact/contact-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    padding: 303px 240px 293px;
    background-image: url("../../img/contact/contact-desktop.jpg");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/contact/contact-desktop@2x.jpg");
    }
  }
}

.form__container {
  h2 {
    margin: 0 0 17px;
    font-weight: 800;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    color: $white;

    @media (min-width: $tablet-width) {
      margin: 0 0 25px;
      font-size: 25px;
    }

    @media (min-width: $desktop-width) {
      font-size: 35px;
    }
  }

  p {
    margin: 0 0 20px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: $white;

    @media (min-width: $tablet-width) {
      margin: 0 0 24px;
      font-size: 16px;
      line-height: 24px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 0 37px;
    }
  }

  @media (min-width: $tablet-width) {
    max-width: 360px;
  }

  @media (min-width: $desktop-width) {
    max-width: 960px;
  }
}

.form__text-break {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form__button {
  padding: 21px 19px;
  background-color: $additional;
  font-family: $font-family;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: $white;

  @media (min-width: $tablet-width) {
    padding: 20px 19px 19px;
  }

  @media (hover: hover) {
    &:hover {
      box-shadow: 0 0 0 1px $active;
      background-color: $white;
      color: $active;
    }
  }

  &:focus-visible {
    outline: none;
    box-shadow: none;
    background-color: $white;
    color: $active;
  }

  &:active {
    background-color: $active;
    color: $white;
  }
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (min-width: $tablet-width) {
    gap: 11px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 360px 360px 180px;
    gap: 30px;
  }
}

.form__field {
  padding: 16px 15px 15px;

  @media (min-width: $tablet-width) {
    padding: 18px 29px 17px;
    border: 1px solid rgba(2, 102, 193, 0.1);
  }
}

.form__field--error {
  box-shadow: 0 0 0 1.5px $error;
}
