.gallery__container {
  max-width: none;

  p {
    margin: 0 0 31px;
    font-size: 12px;
    line-height: 18px;
    color: $primary;
  }
}

.gallery__description {
  padding: 0 15px;
}

.gallery__title {
  margin: 0 0 27px;
}

.gallery__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 5px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 253px 252px 253px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(5, 284px);
  }
}

.gallery__item {
  &:nth-child(n + 4) {
    display: none;
  }

  &:nth-child(3n + 1) {
    grid-row: 1 / -3;
  }

  @media (min-width: $tablet-width) {
    &:nth-child(n + 4) {
      display: block;
    }

    &:nth-child(n + 5) {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-child(n + 5) {
      display: block;
    }
  }
}
