.gallery {
  margin: 0 0 3px;
}

.gallery__container {
  max-width: 320px;

  @media (min-width: $tablet-width) {
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
  }

  p {
    margin: 0 0 31px;
    font-size: 12px;
    line-height: 18px;
    color: $primary;

    @media (min-width: $tablet-width) {
      max-width: 420px;
      font-size: 14px;
      line-height: 22px;
    }

    @media (min-width: $desktop-width) {
      max-width: 592px;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.gallery__description {
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    padding: 26px 45px 18px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px;
  }
}

.gallery__title {
  margin: 0 0 27px;

  @media (min-width: $tablet-width) {
    margin: 0 0 30px;
  }
}

.gallery__list {
  display: flex;
  gap: 5px 0;
}

.gallery__image {
  display: block;
}
