.learning-line {
  @media (min-width: $desktop-width) {
    padding-left: 10px;
  }

  p {
    margin: 0;
    max-width: 200px;
    font-size: 12px;
    line-height: 18px;
    color: $primary;

    @media (min-width: $tablet-width) {
      font-size: 14px;
      line-height: 22px;
    }

    @media (min-width: $desktop-width) {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.learning-line__list {
  padding-left: 29px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 2px;
    height: calc(100% - 22px);
    top: 12px;
    left: 6px;
    background-color: $additional;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    display: grid;
    grid-template-columns: 232px 272px;
    gap: 104px 174px;

    &::before {
      content: none;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 253.3px);
    gap: 0;

    &::before {
      content: "";
      width: calc(100% - 10px);
      height: 2px;
      top: auto;
      bottom: -10px;
      left: 10px;
    }
  }
}

.learning-line__item {
  padding-left: 34px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    top: 1px;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    padding-left: 35px;

    &:nth-child(4) {
      order: 2;
    }

    &:nth-child(2) {
      order: 3;
    }

    &:nth-child(3) {
      order: 4;
    }

    &::before {
      top: 2px;
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-child(n) {
      order: initial;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    top: 52%;
    left: -29px;
    transform: translateY(-50%);
    background-color: $additional;
    border-radius: 100%;

    @media (min-width: $tablet-width) {
      content: none;
    }

    @media (min-width: $desktop-width) {
      content: "";
      top: auto;
      bottom: -23px;
      left: 10px;
    }
  }

  &--map::before {
    background-image: url("../__spritemap#sprite-map-view");
  }

  &--boots::before {
    background-image: url("../__spritemap#sprite-boots-view");
  }

  &--trees::before {
    background-image: url("../__spritemap#sprite-pine-tree-view");
  }

  &--mountain::before {
    background-image: url("../__spritemap#sprite-mountain-view");
  }
}

.learning-line__item--trees::after {
  @media (min-width: $desktop-width) {
    left: -10px;
  }
}
