.logo {
  margin: 0 0 11px;
  display: inline-block;
  grid-column: 2;

  @media (min-width: $desktop-width) {
    order: -1;
  }

  @media (hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__image {
  display: block;
  fill: $white;
}

.logo--dark {
  margin: 0;

  .logo__image {
    fill: $primary;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1;
    justify-self: start;
  }
}
