.logo {
  margin: 0 0 11px;
  display: inline-block;
  grid-column: 2;

  @media (min-width: $desktop-width) {
    order: -1;
  }
}

.logo__image {
  display: block;
  fill: $white;
}

.logo--dark {
  margin: 0;

  .logo__image {
    fill: $primary;
  }
}
