.page {
  height: 100%;
  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-family: $font-family;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

.page__main {
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    background-image: url("../../img/clouds/clouds-1-tablet.png");
    background-repeat: no-repeat;
    background-position: 100% 967px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/clouds/clouds-1-desktop.png");
    background-repeat: no-repeat;
    background-position: 100% 674px;
  }
}
