.reviews {
  padding: 37px 0 0;

  @media (min-width: $tablet-width) {
    padding: 60px 0 38px;
  }

  @media (min-width: $desktop-width) {
    padding: 133px 0 87px 110px;
  }
}

.reviews__container {
  max-width: none;
}

.reviews__title {
  margin: 0 0 15px;
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    margin: 0 0 31px;
    padding: 0 45px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 31px;
    padding: 12px 0 0 10px;
  }
}

.reviews__list {
  padding: 15px 15px 20px;

  @media (min-width: $tablet-width) {
    margin-top: 26px;
    padding: 0 0 20px 45px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 36px;
    padding: 0 0 20px 20px;
  }
}
