.reviews {
  padding: 22px 0 0;

  @media (min-width: $tablet-width) {
    padding: 40px 0 38px;
  }

  @media (min-width: $desktop-width) {
    padding: 145px 0 87px 110px;
  }
}

.reviews__container {
  max-width: none;
}

.reviews__title {
  margin: 0 0 15px;
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    margin: 0 0 29px;
    padding: 0 45px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 31px;
    padding: 12px 0 0 10px;
  }
}

.reviews__list {
  padding: 15px 15px 20px;

  @media (min-width: $tablet-width) {
    margin-top: 25px;
    padding: 0 0 20px 45px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 34px;
    padding: 0 0 20px 20px;
  }
}
