.reviews {
  padding: 20px 15px;

  @media (min-width: $tablet-width) {
    padding: 40px 0 0 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0 87px 120px;
  }
}

.reviews__container {
  @media (min-width: $tablet-width) {
    max-width: none;
  }
}

.reviews__title {
  margin: 0 0 32px;
}

.reviews__list {
  @media (min-width: $tablet-width) {
    margin-top: 25px;
    padding: 35px;
  }
}
