.social {
  display: grid;
  grid-template-columns: repeat(3, 32px);
  gap: 16px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 2;
    justify-content: center;
  }
}

.social__link {
  position: relative;
  display: block;
  width: 32px;
  height: 30px;
  border: 1px solid rgba(45, 56, 63, 0.3);

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $primary;
    mask-repeat: no-repeat;
    mask-position: center;
  }

  &--vk::before {
    width: 18px;
    height: 19px;
    mask-image: url("/__spritemap#sprite-vk-view");
    mask-size: 18px 9px;
  }

  &--ok::before {
    width: 11px;
    height: 16px;
    mask-image: url("/__spritemap#sprite-odnoklassniki-view");
    mask-size: 11px 16px;
  }

  &--reddit::before {
    width: 16px;
    height: 15px;
    mask-image: url("/__spritemap#sprite-reddit-view");
    mask-size: 16px 15px;
  }

  @media (hover: hover) {
    &:hover {
      border-color: $primary;
    }
  }

  &:focus {
    outline: none;
    border: none;
  }

  &:active {
    background-color: $additional;

    &::before {
      background-color: $white;
    }
  }
}
