.star {
  display: block;
  width: 16px;
  height: 14px;
  background-image: url("/__spritemap#sprite-star-view");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
}
