.swiper {
  width: 100%;
  height: 100%;
}

.swiper-container {
  position: relative;
}

.swiper-tour,
.swiper-training,
.swiper-reviews,
.swiper-hero {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .swiper-button-prev,
  .swiper-button-next {
    margin: 0;
    display: none;
    position: relative;
    top: 0;
    left: 88.5%;
    width: 37px;
    height: 35px;
    cursor: pointer;
    background-color: $additional;
    border: none;

    @media (min-width: $tablet-width) {
      display: inline-block;
    }
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    content: "";
    position: absolute;
    width: 13px;
    height: 7.5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    mask-image: url("/__spritemap#sprite-slider-arrow-view");
    mask-size: 13px 7.5px;
    mask-repeat: no-repeat;
    mask-position: center;
  }

  .swiper-button-prev::after {
    transform: translate(-50%, -50%) rotate(180deg);
  }

  .swiper-button-prev:disabled {
    background-color: $disabled;
    opacity: 1;
  }
}

.swiper-reviews {
  @media (min-width: $tablet-width) {
    .swiper-slide {
      width: 565px;
      min-width: 565px;
      max-width: 565px;
    }
  }

  @media (min-width: $desktop-width) {
    .swiper-slide {
      width: 700px;
      min-width: 700px;
      max-width: 700px;
    }
  }
}

.swiper-hero {
  .swiper-pagination.swiper-pagination-horizontal {
    bottom: 25px;

    @media (min-width: $tablet-width) {
      width: 100px;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      bottom: 100px;
      left: 84%;
      transform: none;
    }
  }

  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 1px solid $white;
    border-radius: 50%;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background-color: $white;
  }
}
