.swiper {
  width: 100%;
  height: 100%;
}

.swiper-container {
  position: relative;
}

.swiper-tour,
.swiper-training,
.swiper-reviews,
.swiper-hero,
.swiper-advantages,
.swiper-gallery {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .swiper-button-prev,
  .swiper-button-next {
    margin: 0;
    display: none;
    position: relative;
    top: 0;
    left: 88.5%;
    width: 37px;
    height: 35px;
    cursor: pointer;
    background-color: $additional;
    border: none;

    @media (min-width: $tablet-width) {
      display: inline-block;
    }
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    content: "";
    position: absolute;
    width: 13px;
    height: 7.5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    mask-image: url("/__spritemap#sprite-slider-arrow-view");
    mask-size: 13px 7.5px;
    mask-repeat: no-repeat;
    mask-position: center;
  }

  .swiper-button-prev::after {
    transform: translate(-50%, -50%) rotate(180deg);
  }

  .swiper-button-prev:disabled {
    background-color: $disabled;
    opacity: 1;
  }
}

.swiper-reviews {
  @media (min-width: $tablet-width) {
    .swiper-slide {
      width: 565px;
      min-width: 565px;
      max-width: 565px;
    }
  }

  @media (min-width: $desktop-width) {
    .swiper-slide {
      width: 700px;
      min-width: 700px;
      max-width: 700px;
    }
  }
}

.swiper-hero {
  @media (min-width: $desktop-width) {
    block-size: 0;
    min-block-size: 800px;
  }

  .swiper-pagination.swiper-pagination-horizontal {
    bottom: 36px;

    @media (min-width: $tablet-width) {
      width: 120px;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
    }

    @media (min-width: $desktop-width) {
      width: 120px;
      top: auto;
      bottom: 88px;
      left: 84%;
      transform: none;
    }
  }

  .swiper-pagination.swiper-pagination-horizontal .swiper-pagination-bullet {
    margin: 0 10px;
  }

  .swiper-pagination-bullet {
    margin: 0 10px;
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 1.5px solid $white;
    border-radius: 50%;
    opacity: 1;

    @media (min-width: $tablet-width) {
      width: 20px;
      height: 20px;
    }

    @media (hover: hover) {
      &:hover {
        background-color: #d9d9d9;
      }
    }

    &:focus-visible {
      outline: 1.5px solid rgba(255, 255, 255, 0.5);
      outline-offset: 3px;
      background-color: transparent;
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  .swiper-pagination-bullet-active {
    background-color: $white;

    @media (hover: hover) {
      &:hover {
        opacity: 0.8;
      }
    }

    &:focus {
      opacity: 0.9;
      background-color: $white;
    }
  }


}

.swiper-advantages {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .swiper-slide {
    flex-shrink: 1;

    @media (min-width: $tablet-width) {
      &:last-child {
        transform: translateX(50%);
      }
    }

    @media (min-width: $desktop-width) {
      &:last-child {
        transform: none;
      }
    }
  }

  .swiper-button-prev {
    @media (min-width: $desktop-width) {
      margin-top: 50px;
      margin-right: 4px;
      position: absolute;
      left: 47.2%;
      bottom: -85px;
      top: auto;
    }
  }

  .swiper-button-next {
    @media (min-width: $desktop-width) {
      margin-top: 50px;
      position: absolute;
      left: 50%;
      top: auto;
      bottom: -85px;
    }
  }

  .swiper-wrapper {
    @media (min-width: $tablet-width) {
      display: grid;
    }

    @media (min-width: $desktop-width) {
      display: inherit;
    }
  }
}

.swiper-gallery {
  .swiper-wrapper {
    display: flex;
  }

  .swiper-button-prev,
  .swiper-button-next {
    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  .swiper-slide:nth-child(1) {
    min-width: 158px;
  }

  .swiper-slide:nth-child(2) {
    min-width: 157px;
  }
}
