.title {
  position: relative;
  font-family: $font-family;
  font-weight: 800;
  font-size: 22px;
  line-height: 100%;
  color: $primary;

  @media (min-width: $tablet-width) {
    font-size: 25px;
  }

  @media (min-width: $desktop-width) {
    font-size: 35px;
  }
}

.title--shadow {
  position: absolute;
  color: rgba(0, 0, 0, 0.03);
  z-index: -1;
  font-size: 26px;
  top: -13px;
  left: 0;

  @media (min-width: $tablet-width) {
    font-weight: 800;
    font-size: 40px;
    line-height: 100%;
  }

  @media (min-width: $desktop-width) {
    font-size: 55px;
    top: -17px;
  }
}
