.title {
  position: relative;
  font-family: $font-family;
  font-weight: 800;
  font-size: 22px;
  line-height: 100%;
  color: $primary;

  &::after {
    content: attr(data-text); /* Use the data-text attribute to get the heading text */
    position: absolute;
    left: 0;
    top: -13px;
    color: rgba(0, 0, 0, 0.03); /* Set the desired color and opacity for the shadow */
    z-index: -1; /* Ensure the shadow is behind the main heading */
    font-size: 26px;
  }

  @media (min-width: $tablet-width) {
    font-size: 25px;
  }

  @media (min-width: $desktop-width) {
    font-size: 35px;
  }
}
