.title {
  font-weight: 800;
  font-size: 22px;
  line-height: 100%;
  color: $primary;

  @media (min-width: $tablet-width) {
    font-size: 25px;
  }

  @media (min-width: $desktop-width) {
    font-size: 35px;
  }
}
