.tour {
  padding: 30px 20px;
  max-width: 290px;
  min-height: 416px;
  display: none;
  grid-auto-rows: max-content;
  grid-template-columns: 90px 83px 67px;
  align-content: end;
  gap: 15px 3px;
  background-color: #5b7daa;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  &:nth-child(1) {
    display: grid;
  }

  @media (min-width: $tablet-width) {
    max-width: 330px;
    width: 100%;
    grid-template-columns: 90px 83px 69px;
    justify-content: space-between;

    &:nth-child(2) {
      display: grid;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 380px;

    &:nth-child(3) {
      display: grid;
    }
  }
}

.tour--caucasus {
  background-image: url("../../img/tours/tour-1-mobile.jpg");

  @media (resolution >= 2dppx) {
    background-image: url("../../img/tours/tour-1-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../../img/tours/tour-1-tablet.jpg");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/tours/tour-1-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/tours/tour-1-desktop.jpg");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/tours/tour-1-desktop@2x.jpg");
    }
  }
}

.tour--altai {
  background-image: url("../../img/tours/tour-2-mobile.jpg");

  @media (resolution >= 2dppx) {
    background-image: url("../../img/tours/tour-2-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 85px 82px 70px;
    background-image: url("../../img/tours/tour-2-tablet.jpg");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/tours/tour-2-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/tours/tour-2-desktop.jpg");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/tours/tour-2-desktop@2x.jpg");
    }
  }

  .tour__count--days {
    margin-left: -4px;
  }

  .tour__count--nights {
    margin-left: -14px;
  }
}

.tour--adygea {
  background-image: url("../../img/tours/tour-3-mobile.jpg");

  @media (resolution >= 2dppx) {
    background-image: url("../../img/tours/tour-3-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../../img/tours/tour-3-tablet.jpg");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/tours/tour-3-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/tours/tour-3-desktop.jpg");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/tours/tour-3-desktop@2x.jpg");
    }
  }
}

.tour--ural {
  background-image: url("../../img/tours/tour-4-mobile.jpg");

  @media (resolution >= 2dppx) {
    background-image: url("../../img/tours/tour-4-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../../img/tours/tour-4-tablet.jpg");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/tours/tour-4-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/tours/tour-4-desktop.jpg");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/tours/tour-4-desktop@2x.jpg");
    }
  }
}

.tour__location {
  margin: 0;
  padding: 8px 12px 8px 34px;
  max-width: 94px;
  position: relative;
  display: inline-block;
  background-color: $additional;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: $white;
  grid-column: 1;
  grid-row: 1;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 6px;
    left: 12px;
    background-image: url("/__spritemap#sprite-location-view");
    background-size: 16px 16px;
    background-repeat: no-repeat;
  }
}

.tour__count {
  padding: 8px 0 4px 32px;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: $white;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: left;

  &--days {
    padding: 8px 0 4px 34px;
    background-image: url("/__spritemap#sprite-sun-view");
    background-position: 2px;

    @media (min-width: $tablet-width) {
      margin-left: 19px;
    }
  }

  &--nights {
    padding: 8px 0 4px 29px;
    background-image: url("/__spritemap#sprite-moon-view");
    background-size: 16px 16px;

    @media (min-width: $tablet-width) {
      margin-left: -2px;
    }
  }
}

.tour__name {
  position: relative;
  margin: 0 0 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: $white;
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    max-width: 233px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 1px;
    bottom: -15px;
    left: 0;
    background-color: $white;
    opacity: 0.2;
  }
}

.tour__info-list {
  margin: 0;
  display: grid;
  grid-template-columns: 84px 83px 67px;
  gap: 8px;
  grid-column: 1;

  @media (min-width: $tablet-width) {
    gap: 4px 28px;
  }

  @media (min-width: $desktop-width) {
    gap: 4px 53px;
  }
}

.tour__info-definition {
  margin: 0;
  font-weight: 700;
  font-size: 13px;
  line-height: 13px;
  color: $white;

  @media (min-width: $tablet-width) {
    transform: translateY(4px);
  }

  &:first-of-type {
    margin: 0;
    grid-row: 2;
  }

  &:nth-child(4) {
    margin: 0;
    grid-row: 2;
  }

  &:nth-child(2) {
    margin: 0;
  }
}

.tour__info-term {
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  color: $white;
}
