.training {
  padding: 18px 15px 41px;

  @media (min-width: $tablet-width) {
    padding: 60px 45px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 59px 120px 40px;
  }
}

.training__title {
  margin: 0 0 33px;

  @media (min-width: $tablet-width) {
    margin: 0 0 36px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 38px;
  }
}

.training__container {
  p {
    margin: 0 0 29px;
    font-size: 14px;
    line-height: 20px;
    color: $primary;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 24px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 0 56px;
      max-width: 820px;
    }
  }
}

.training__subtitle {
  margin: 0 0 22px;

  @media (min-width: $tablet-width) {
    margin: 0 0 30px;
  }
}

.training__learning-title {
  margin: 25px 0 23px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: $primary;
}

.training__list {
  display: flex;
  justify-items: center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 212px);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 285px);
    justify-items: normal;
  }
}
